.nav{
    background-color: #aa6191;
}
.logo{
    position: relative;
    z-index: 5;
    bottom: -70px;
    width: 150px;
    height: 150px;
    padding: 2%;
    margin-left: 20px;
}
h1{
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 35;
    margin-top: 45px;
}
.nav1{
    background-color: #aa6191;
    text-align: center;
    position: absolute;
    width:  100%;
    height: 40px;
    bottom: 0%;
}